---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

body {
    line-height: calc(1.55vmax + 11px);
    font-size: calc(1.007vmax + 10px);
}

h1 {
    font-size: calc(5vmax + 9px);
    font-weight: 900;
    line-height: calc(4vmax + 19px);
    margin-bottom: 2vmax;
}

h2 {
    font-size: xx-large;
    margin-left: 1.3vw;
    margin-top: 3.3vw;
    margin-bottom: 1.3vw;
}

a:link {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

a:visited {
    text-decoration: line-through;
}

div#main {
    width: 60vw;
    min-width: 300px;
    max-width: 1024px;
    float: left;
}

div#main, .wrapper-masthead {
    margin: 1vmax;
}

.entry {
    margin-bottom: calc(3vmax + 50px);
}

p {
    margin-top: 0.3vmax;
    margin-bottom: 1.3vmax;
    text-indent: 1.3vmax;
}

.wrapper-masthead {
    float: left;
    /* position: fixed; */
    top: 0;
    width: 20vw;
}

.pagination {
  margin-top: 4vmax;
}

.pagination span.previous {
    float: left;
}

.pagination span.next {
    float: right;
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
