---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// @import "device-test";
// Syntax highlighting @import is at the bottom of this file

/***************/
/* MEYER RESET */
/***************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul, ol {

}

.entry ul, .entry ol {
  margin-left: 2vmax;
}

ul {
  list-style: none;
  margin-bottom: calc(1vmax + 10px);
}

ol {
  list-style-type: decimal;
  display: block;
}

li p {
  text-indent: 0;
}

blockquote, q {
  quotes: none;
  width: 90%;
  color: darkgray;
  margin: auto;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// reset done

body {
  line-height: calc(1.75vmax + 13px);
  font-size: calc(1.007vmax + 10px);
  margin: 1vmin;
}

strong {
  font-weight: bold;
}

h1, .site-name {
  font-size: calc(5vmax + 9px);
  font-weight: 900;
  line-height: calc(4vmax + 19px);

  margin-bottom: 2vmax;
}

.entry h1 {
  font-size: calc(4vmax + 9px);
  font-weight: 900;
  line-height: calc(4vmax + 19px);

  margin-bottom: 2vmax;
}

h2 {
  font-size: calc(3vmax + 9px);
  font-weight: 800;

  line-height: calc(4vmax + 10px);

  margin-left: 1.3vw;
  margin-top: calc(3.3vmax + 15px);
  margin-bottom: calc(1.3vmax + 15px);
}

h3 {
  font-size: calc(2vmax + 5px);
  font-weight: 800;

  line-height: calc(4vmax + 10px);

  margin-left: 1.3vw;
  margin-top: calc(3.3vmax + 15px);
  margin-bottom: calc(2.3vmax + 15px);
  font-style: oblique;
  font-weight: 700;
}

a, a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: line-through;
}

// basic table setting
table {
    width: 100%;
    margin: 2vmax;
}

th {
    text-align: left;
    font-weight: 600;
    border-bottom: 2px solid black;
    background-color: #edeeed;
}

td {
  margin: 1vmax;
}

tbody tr {
  border-bottom: 1px solid lightgray;
}

tr:hover {
  background-color: #edeeed;
}

.wrapper-masthead {
  height: 5vmax;
  top: 0;
}

.date {
  text-align: right;
}

.container {
    min-width: 300px;
    max-width: 1024px;
    width: calc(70vw + 1em);
    margin-left: auto;
    margin-right: auto;
}

.entry {
  margin-bottom: calc(3vmax + 50px);
}

.content p:first-child {
  text-indent: 0;
}

p {
  margin-top: 0.3vmax;
  margin-bottom: 1.3vmax;
  text-indent: 1.3vmax;
}

.poet p {
  margin-top: 0.3vmax;
  margin-bottom: 2.3vmax;
  text-indent: 0;
}

nav {
  position: fixed;
}

nav li {
  line-height: calc(0.3vmax + 100%);
  display: inline-flex;
  margin-right: 2vw;
}

// pagination setting

.pagination {
  text-align: center;
  margin-top: 4vmax;
  margin-bottom: 4vmax;
}

.pagination .previous {
    float: left;
    margin-left: 10vw;
}

.pagination .next {
  float: right;
  margin-right: 10vw;
}

 // codex page stylling

 .codex {
     column-count: auto;
     column-width: calc(15vmax + 30px);
     column-gap: 3vmin;
 }

 .codex li {
     margin-bottom: 1vmax;
     text-indent: -1vw;
     margin-left: 1vw;
 }

// footnote setting
sup {
  vertical-align: super;
  font-size: calc(1.1vmax + 5px);
}

div.footnotes::before {
  content: "Footnotes";
  font-size: calc(3vmax + 9px);
  font-weight: 800;

  line-height: calc(4vmax + 10px);

  margin-left: 1.3vw;
  margin-top: calc(3.3vmax + 10px);
  margin-bottom: 1.5vmax;
}

div.footnotes {
    margin-top: 5vmax;
    margin-left: 1vmax;
    margin-right: 2vmax;
    font-size: calc(0.9vmax + 10px);
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
// @import "svg-icons";
