---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          <ul class="c-content-meta">
            {% if page.original_title %}
            <li>
              <span class="label">original title</span>
              <span class="value">{{ page.original_title }}</span>
            </li>
            {% endif %}
            {% if page.original_date %}
            <li>
              <span class="label">date</span>
              <span class="value">{{ page.original_date }}</span>
            </li>
            {% endif %}
            {% if page.author %}
            <li>
              <span class="label">author</span>
              <span class="value">{{ page.author }}</span>
            </li>
            {% endif %}
            {% if page.source %}
            <li>
              <span class="label">source</span>
              <span class="value">{{ page.source }}</span>
            </li>
            {% endif %}
            {% if page.notes %}
            <li>
              <span class="label">notes</span>
              <span class="value">{{ page.notes }}</span>
            </li>
            {% endif %}
          </ul>

          {{ content }}
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>

        <hr>

        {% include disqus.html %}

      </article>
    </div>
  </div>
</div>